<div class="courses-panel">

  <h3>All Profiles</h3>

  <!--div class="spinner-container" *ngIf="dataSource.loading$ | async">

    <app-progress-spinner></app-progress-spinner>

  </div-->

  <mat-tab-group>

    <mat-tab label="Active Profiles">
      <!-- Lazy loading so changes picked up -->
      <ng-template matTabContent>
        <app-profiles [profiles]="activeProfiles$ | async"></app-profiles>
      </ng-template>
    </mat-tab>

    <mat-tab label="Archived Profiles">
      <ng-template matTabContent>
        <app-profiles [profiles]="archivedProfiles$ | async"></app-profiles>
      </ng-template>
    </mat-tab>

    <mat-tab label="Sites">
      <ng-template matTabContent>
        <app-site></app-site>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>

